button.results {
  min-width: 100%;
  margin: 5px;
  margin-left: 0px;
}

/*.display-result {
  height: 240px;
}

.display-result li{
  min-width: 250px;
  height: 150px;
}

.result-info {
  margin-bottom: 20px;
}

.display-result {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 180px;
  color: #060606;
}*/
